$white: #FFFFFF;
$bgColor: #F8F8F8;
$bgButton:#FF3E79;
$bgBorder:#EAEAEA;
$colorText:#1B1C21;
$colorShadow:#BEBEBE;
$colorActive:#7E7E82;
$colorTitle:#1B1C21;
$colorLinkActive:#41F6D7;
$colorPlaceholder:#B5B6BC;

